body {
}
#bg {
    /* The image used */
    background-image: url('~/images/blueBuilding.jpg');
    background-size: auto;
    /*background-image: url('file:///C:\Users\terry.namboya\source\repos\ComposeTutorialApp\WebApp\wwwroot\images\blueBuilding.jpg');*/
    /* Full height */
    /*height: 100%;*/
    /* Center and scale the image nicely */
    /* background-position: center;*/
    background-repeat: no-repeat;
    /*background-attachment: local;*/
    /*background-size: contain;*/
    /*background-size: 50% 50%;*/
}