@page
@model WebApp.Pages.AddItemModel
@{
}
<div class="d-grid gap-2 d-md-block col-6 mx-auto">
    <div>
        <button type="button" class="btn btn-info btn-lg m-3 col-6 mx-auto" data-toggle="modal" data-target="#selectorModal">Enter Job</button>

        <div class="modal fade" id="selectorModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <form class="form-horizontal" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Job Details</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="m_title" class="col-sm-4 control-label">Job Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="m_jobTitle">
                                </div>
                                <label for="m_company" class="col-sm-4 control-label">Company Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="m_jobCompany">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="m-start" class="col-sm-2 control-label">Start Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" name="m_jobStart">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="m-m_end" class="col-sm-2 control-label">Start Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" name="m_jobEnd">
                                </div>
                            </div>
                            <hr />
                            @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                            <div class="d-grid gap-2 d-md-block">
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-default btn-outline-primary" value=1 name="m_choice">Submit</button>
                                    </div>

                                </div>
                                <div class="">
                                    <button type="reset" class="btn-secondary" data-dismiss="modal">Discard</button>
                                </div>
                            </div>

                        </div>
                        @*<div class="modal-footer">
                            </div>*@
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div>
        <button type="button" class="btn btn-info btn-lg m-3 col-6 mx-auto" data-toggle="modal" data-target="#skillModal">Enter Skill</button>

        <div class="modal fade" id="skillModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <form class="form-horizontal" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Skill Details</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="m_sk_name" class="col-sm-4 control-label">Skill Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="m_skName">
                                </div>
                                <label for="m_sk_exp" class="col-sm-4 control-label">Skill Experience</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="m_skExp">
                                </div>
                            </div>
                            <hr />
                            @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                            <div class="d-grid gap-2 d-md-block">
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-default btn-outline-primary" value=2 name="m_choice">Submit</button>
                                    </div>
                                </div>
                                <div class="">
                                    <button type="reset" class="btn-secondary" data-dismiss="modal">Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div>
        <button type="button" class="btn btn-info btn-lg m-3 col-6 mx-auto" data-toggle="modal" data-target="#eduModal">Enter Education</button>

        <div class="modal fade" id="eduModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <form class="form-horizontal" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Skill Details</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="m_sk_name" class="col-sm-4 control-label">Skill Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="m_skName">
                                </div>
                                <label for="m_sk_exp" class="col-sm-4 control-label">Skill Experience</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="m_skExp">
                                </div>
                            </div>
                            <hr />
                            @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                            <div class="d-grid gap-2 d-md-block">
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-default btn-outline-primary" value=3 name="m_choice">Submit</button>
                                    </div>
                                </div>
                                <div class="">
                                    <button type="reset" class="btn-secondary" data-dismiss="modal">Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
