@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<style>
.jumbotron {
   background-image: url("images\blueBuilding.jpg");
   background-size: cover;
}
</style>
<div class="text-center">
    @*<div class="text-center" style="background-image: url('../images/blueBuilding.jpg')">*@

    <div class="jumbotron-fluid">
        <h1 class="display-4">Terence Namboya</h1>
        <hr class="my-3">
        <p>Developer, Photographer,Malawian</p>
        @*<img src="images\blueBuilding.jpg" class="img-fluid alt="Sample Photo" />*@

    </div>
    @*<img src="images\blueBuilding.jpg" class="img-fluid"" alt="Sample Photo" />*@

    <p>this Site communicates with redis</p>

</div>
