@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<style>

</style>
<div class="text-center " id="MainIndex">
    @*<div class="text-center" style="background-image: url('../images/blueBuilding.jpg')">*@

    <div class="jumbotron-fluid bg-dark bg-transparent h-100">
        <h1 class="display-6 text-light">Terence Namboya</h1>
        <hr class="my-3 bg-light">
        <h3 class="text-light align-self-center mx-auto w-50" style="background: rgba(1, 1, 1, 0.3);">Developer, Photographer,Malawian</h3>
        @*<img src="images\blueBuilding.jpg" class="img-fluid alt="Sample Photo" />*@

    </div>
    @*<img src="images\blueBuilding.jpg" class="img-fluid"" alt="Sample Photo" />*@

    @*<p>this Site communicates with redis</p>*@

</div>
